body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  // --------------------------
  // VARIABLES
  // --------------------------
  $maincolor: black;
  $contrastcolor: white;
  
  @mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
  }
  
  @mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
  }
  
  // --------------------------
  // Header
  // --------------------------
  
  .nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    ul {
      display: flex;
      list-style: none;
      li {
        img {
          height: 55px;
          width: 55px;
          border-radius: 50%;
        }
        margin-right: 16px;
        button {
          border: none;
          color: inherit;
          background-color: inherit;
          cursor: pointer;
        }
      }
    }
  
    a {
      @include white-text-black-bg;
      text-decoration: none;
      div {
        margin: 10px;
        font-size: large;
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav {
      justify-content: space-between; 
    }
  }